fastapi==0.110.1
pydantic==2.5.2
SQLAlchemy==2.0.29
bcrypt==4.1.2
aiosqlite==0.20.0
PyJWT==2.8.0
python-multipart==0.0.9
pydantic-settings==2.2.1
uvicorn==0.29.0
cryptography==38.0.4
email_validator==2.1.1
